#===============================================================================
# Batocera AutoDisc - Regras udev para Deteção de Discos Físicos
#===============================================================================

# Reiniciar o serviço disc-monitor quando houver mudanças no estado de media do leitor de CD/DVD
ACTION=="change", SUBSYSTEM=="block", ENV{ID_CDROM}=="1", ENV{ID_CDROM_MEDIA}=="1", RUN+="/usr/bin/systemctl restart disc-monitor.service"
ACTION=="change", SUBSYSTEM=="block", ENV{ID_CDROM}=="1", ENV{ID_CDROM_MEDIA}=="0", RUN+="/usr/bin/systemctl restart disc-monitor.service"

# Configurar permissões de leitura/escrita e modo adequado para o dispositivo de blocos sr0
KERNEL=="sr[0-9]*", SUBSYSTEM=="block", GROUP="cdrom", MODE="0660"
ACTION=="add", SUBSYSTEM=="scsi", ATTR{timeout}="30"
KERNEL=="sr0", SUBSYSTEM=="block", TAG+="systemd", ENV{SYSTEMD_WANTS}="disc-monitor.service"
