[Unit]
Description=Serviço de Monitorização de Discos Óticos Batocera AutoDisc
After=network.target multi-user.target
Before=emulationstation.service

[Service]
Type=simple
User=root
WorkingDirectory=/userdata/system/autodisc
ExecStart=/usr/bin/python3 /userdata/system/autodisc/disc-monitor.py
ExecStop=/bin/kill -SIGTERM $MAINPID
Restart=on-failure
RestartSec=5
StandardOutput=append:/userdata/system/logs/autodisc/monitor-service.log
StandardError=append:/userdata/system/logs/autodisc/monitor-service-error.log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
